################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleProject/src/SampleProject/wwwroot/lib/angular
